.beta-page__title-color {
	background: linear-gradient(89.99deg, #4A549D 11.18%, #B0BDF9 87.46%);
	font-family: 'Noto Sans' !important;
	font-style: normal !important;
	font-weight: 800 !important;
	font-size: 3.3rem !important;
	line-height: 1.1 !important;
	background-clip: text !important;
	text-fill-color: transparent !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.beta-page__ellipse {
	width: 4rem;
	min-width: 4rem;
	height: 4rem;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	position: relative;
	border-radius: 50%;
}

.beta-page__ellipse--1::after {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	content: "1";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.beta-page__ellipse--2::after {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	content: "2";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.beta-page__button {
	background: linear-gradient(89.99deg, #4A549D 11.18%, #B0BDF9 87.46%) !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 25px rgba(0, 0, 0, 0.15) !important;
	border-radius: 98px !important;
	padding: 0.8rem 2.5rem !important;
	white-space: nowrap !important;
}
