@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


.float {
	transform: translatey(0px);
	animation: float 9s ease-in-out infinite;
}

.floatfast {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.floatslow {
	transform: translatey(0px);
	animation: float 12s ease-in-out infinite;
}